@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Moirai+One&display=swap');

.intro-logo {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    margin-bottom: 10px;
}

.intro-logo .cursor{
    animation: blink 1s infinite; /* 깜빡이는 애니메이션 설정 */
    font-size: 45px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
